
.msg-app__contact
  display: flex
  flex-flow: row nowrap
  align-items: center

.msg-app__contact__user {
  flex: 1 1 auto;
  padding: .8em 1.5em .8em 0;
}
.msg-app__contact__head {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.msg-app__contact__name {
  flex: 1 1 auto
  color: #ccc
  font-size: 1.2em
}
.msg-app__contact__msg {
  color labelText
}
